<div class="row flex-column align-items-center ">
  <h2>sign up</h2>
  <form action="">
    <div class="w-50">
      <div class="col-auto">
        <label for="inputusername" class="col-form-label">User Name</label>
      </div>
      <div class="col-auto">
        <input [(ngModel)]="userInput" name="userInput" type="text" id="inputusername" class="form-control"
          aria-describedby="userinputusernameHelpInline">
      </div>
    </div>
    <div class="w-50">
      <div class="col-auto">
        <label for="inputphone" class="col-form-label">Phone Number</label>
      </div>
      <div class="col-auto">
        <input [(ngModel)]="phoneInput" name="phoneInput" type="tel" id="inputphone" class="form-control"
          aria-describedby="phoneHelpInline">
      </div>
    </div>
    <div class="w-50">
      <div class="col-auto">
        <label for="inputemail" class="col-form-label">Email</label>
      </div>
      <div class="col-auto">
        <input [(ngModel)]="emailInput" name="emailInput" type="email" id="inputemail" class="form-control"
          aria-describedby="emailHelpInline">
      </div>
    </div>
    <div class="w-50">
      <div class="col-auto">
        <label for="inputPassword6" class="col-form-label">Password</label>
      </div>
      <div class="col-auto">
        <input [(ngModel)]="passInput" name="passInput" type="password" id="inputPassword6" class="form-control"
          aria-describedby="passwordHelpInline">
      </div>
      <div class="col-auto">
        <span id="passwordHelpInline" class="form-text">
          Must be 8-20 characters long.
        </span>
      </div>
    </div>
    <button (click)="register()" type="submit" class="btn btn-primary">Sign Up</button>
  </form>
</div>