

<div class="d-flex flex-column flex-start profile-header" id="profile">
  <h3>{{user?.userName}}</h3>
</div>


<div class="card w-100 mb-3">
  <div class="card-body">
    <p class="card-text">Adding a New Post?</p>
    <button (click)="makePost()" class="btn btn-primary">Add Post</button>
  </div>
</div>


@if (isAdded) {
  <app-new-post/>
}

<h3>My Posts</h3>
@for (post of getPostsByUserId((user?.userId.toString())); track post.postId) {
  <div class="card w-100 mb-3">
    <div class="card-body">
      <h5 class="card-title">{{ post?.userName }}</h5>
      <h5 class="card-text">{{ post?.title }}</h5>
      <p class="card-text">{{ post?.content }}</p>
      <p class="card-text"><small class="text-muted">Last updated {{post?.date| date:'short'}}</small></p>
      <div class="w-25 btn-container btn-container d-flex justify-content-between align-items-center">
        <button (click)="getDynamicStyles(post.postId)" type="button" [ngClass]="getPostClass(post.postId)" class="btn">Like</button>
        <button (click)="getEditForm(post.postId)" type="button" id="updateButton" class=" btn btn-primary">Update</button>
        <button (click)="deletePost(post.postId)" type="button" id="deleteButton" class="btn btn btn-danger">delete</button>
      </div>
    </div>
  </div>
  @if(post.isEdited){
    <app-edit-post [post]="post"/>
  }
}