<div class="card w-100 mb-3">
  <div class="card-body">
    <p class="card-text">Adding a New Post?</p>
    <button class="btn btn-primary">Add Post</button>
  </div>
</div>


<div class="card w-100 mb-3">
  <div class="card-body">
    <h5 class="card-title">User Name</h5>
    <p class="card-text">User Post Content.</p>
    <div class="btn-container d-flex justify-content-between align-items-center">
      <button (click)="addLike()" type="button" id="likeButton" class="btn">Like</button>
    </div>
  </div>
</div>